<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012564879029-gmu91gh09pb16viuupisogunoqrstqfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012564879029-gmu91gh09pb16viuupisogunoqrstqfm</string>
	<key>API_KEY</key>
	<string>AIzaSyBawGgt5dcajPFN0B1ORajdyfeE5cYOYzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1012564879029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KaeTheDev.ChatMessenger</string>
	<key>PROJECT_ID</key>
	<string>finalchat-7bbcc</string>
	<key>STORAGE_BUCKET</key>
	<string>finalchat-7bbcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012564879029:ios:06ac31b189165f7312c0fc</string>
</dict>
</plist>